<div id="projectsHeader" class="container-fluid">
    <!--<nav class="navbar navbar-default">-->
    <nav class="navbar">
        <div class="container-fulid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed pull-left" data-toggle="collapse" data-target="#ryanNavbar" aria-label="Left Align">
                    <span><img src="http://amazumedia.com/images/menu.png"/> </span>
                </button>
            </div>

        </div>
        <div class="collapse navbar-collapse" id="ryanNavbar">
            <ul class="nav navbar-nav nav-tabs-justified">
                <li><a href="#home">Home</a></li>
                <li><a href="#resume">Resume</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#projects">Projects</a></li>
                <li><a href="#contact">Contact</a></li>

            </ul>
        </div>
    </nav>
    <div class="row">
        <div class="col-sm-2">

        </div>
        <div class="col-sm-10">
            <h1 class="fadeIn">Projects</h1>
            <h3 class="fadeIn"><em>See what I've been working on</em></h3>
        </div>
        <div class="col-sm-1">

        </div>

    </div>
    <!--</nav>-->

</div>