<div id="resumeHeader" class="container-fluid">
    <!--<nav class="navbar navbar-default">-->
    <nav class="navbar">
    <div class="container-fulid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed pull-left" data-toggle="collapse" data-target="#ryanNavbar" aria-label="Left Align">
                <span><img src="http://amazumedia.com/images/menu.png"/> </span>
            </button>
        </div>

    </div>
    <div class="collapse navbar-collapse" id="ryanNavbar">
        <ul class="nav navbar-nav nav-tabs-justified">
            <li><a href="#home">Home</a></li>
            <li><a href="#resume">Resume</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#projects">Projects</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </div>
    </nav>
    <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-8">
            <div>
                <h1 class="fadeIn">What have I been up to?</h1><br>
                <h3 class="fadeIn"><em>My Skills & Experience.</em></h3>

            </div>


        </div>
        <!--<div class="col-sm-pull-0" id="overflowContainer">-->

        <!--</div>-->

    </div>
    <!--</nav>-->

</div>
<div class="row" id="technologies">
    <div class="col-md-1">
    </div>
    <div class="col-md-4">
        <h1 id="technology" class="resume">Technologies</h1>
    </div>
    <div class="col-md-3">
        <h3 class="resume">Extensive Use</h3>
        <ul class="ulTechnologies">
            <li class="resumeTech">JavaScript</li>
            <li class="resumeTech">jQuery</li>
            <li class="resumeTech">AngularJS</li>
            <li class="resumeTech">Node.js</li>
            <li class="resumeTech">MongoDB</li>
            <li class="resumeTech">HTML5/CSS3</li>
            <li class="resumeTech">Bootstrap</li>
            <li class="resumeTech">Ajax</li>
            <li class="resumeTech">REST</li>
            <li class="resumeTech">Grunt</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h3 class="resume">Familiar With</h3>
        <ul class="ulTechnologies">
            <li class="resumeTech">Google API</li>
            <li class="resumeTech">SQL/PostGres</li>
            <li class="resumeTech">Adobe Photoshop</li>
            <li class="resumeTech">Backbone.js</li>
            <li class="resumeTech">Passport</li>
        </ul>
        <!--<h3>Other Areas</h3>-->
        <!--<ul class="ulTechnologies">-->
            <!--<li class="resumeTech">Microsoft Office</li>-->
            <!--<li class="resumeTech">SalesForce CRM</li>-->
        <!--</ul>-->
    </div>
    <div class="col-md-1">
    </div>
</div>
<div class="row row-centered" id="education">
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-4 col-centered">
            <h1 id="educationHeader" class="resume">Education</h1>
        </div>
        <div class="col-md-6 col-centered">
            <h3 class="schools">Prime Digital Academy<br><small>Software Engineer Program, June 2015 to Ocotber 2015</small></h3>
            <p>Prime Digital Academy, an 18 week accelerated learning program teaching foundational software engineering skills, through a full stack Javascript curriculum. The program is supplemented by an apprenticeship network with dozens of companies signed up to bringing graduates of the program onboard to continue their learning on-the-job at an impressive list of the area’s best workplaces</p>
        </div>
        <div class="col-md-1">
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-4 col-centered">
        </div>
        <div class="col-md-6 col-centered">
            <h3 class="schools">University of Wisconsin, Eau Claire<br><small>Bachelor of Science in Mathematics and Economics, Graduate 2009</small></h3>
            <p>Finished up with an Economics degree in 2008 but didn't quite have enough of college and went back to finish my Math degree. While I was there I tutored Math and Economics students. Also getting my first exposure to writing code!</p>
        </div>
        <div class="col-md-1">
        </div>

    </div>

</div>
<div class="row" id="experience">
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-4 col-centered">
            <h1 id="experienceHeader" class="resume">Experience</h1>
        </div>
        <div class="col-md-6 col-centered">
            <h3 class="schools">United States Curling<br><small>Athlete, September 2010 to Present</small></h3>
            <p>In 2010 I was asked to join a team consisting of three Olympic medal winners, with the goal of being the 2014 Olympic Team.
                Though low on the experience compared to them I quickly found my way and our team had immediate success, winning the 2011 U.S. National Championship.
                We set ourselves up for the chance to be the Olympic team being the first team to qualify for the Olympic Trials.
                In November of 2013 the Olympic Trials began, a five team week long competition to determine the 2014 Olympic Curling Team. We finished the
                round robin in 2nd placed sending us to a best of three series to determine the winner.  We eventually lost the third game and we're eliminated from contention.
                Although severely disapointing our team racked up two national championships, Olympic Trial runner-up, national championship runner up and a number of tournament wins in four years.
                Since then U.S. Curling has taken a different direction, and I was selected to be in its High Performance Program and on its National Team.  2018 will hopefully go the other way this time.</p>
        </div>
        <div class="col-md-1">
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-4 col-centered">
        </div>
        <div class="col-md-6 col-centered">
            <h3 class="schools">Epicor Software<br><small>Business Development Representative, June 2014 to December 2014</small></h3>
            <p>At Epicor I worked in Business Development.  I was basically in charge of contacting small to mid range manufacturers and seeing where they were at
            with their current software solution.  Spoke to companies C-level executives and decision makers about their current software solution, starting a business
            relationship with their company.  Helping them understand what Epicor ERP's solutions are and starting the sales process with them.
                Became very familiar with SalesForce CRM to manage accounts.</p>
            </div>
        <div class="col-md-1">
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-4 col-centered">
        </div>
        <div class="col-md-6 col-centered">
            <h3 class="schools">Kelly Educational Staffing<br><small>November 2010 to March 2013</small></h3>
            <p>While living in Bemidji, MN and mostly being a full time curler I became a substitute teacher.  I've always enjoyed learning and
            substitute teaching allowed me to be on the other end of the spectrum.  I subbed for all ages from kindergarten to high school at a variety of
            the area's schools.  Implemented lessons plans as well as came up with on the fly things to do for classes.  Definitely was an interesting
            experience and something I enjoyed having the opportunity to do.</p>
        </div>
        <div class="col-md-1">
        </div>
    </div>
</div>
<div class="row" id="message">
    <div class="col-md-12" id="messageButton">
        <button class="contact">Interested?<br>Send a Message</button>
    </div>
</div>